$panel-padding: 1.8rem;
$panel-padding-mobile: 1.5rem;
$panel-margin-mobile: 1.5rem;
$panel-border-radius: 2rem;
$panel-width-md: 100%;
$panel-width-sm: 80%;

$panel-box-shadow-color: rgba(199, 195, 195, 0.4);
$panel-shadow: 3.2rem 3.2rem 6.2rem 0 $panel-box-shadow-color;
@mixin panel-shadow {
  box-shadow: $panel-shadow;
}

$screen-size-ty: 500px;
$screen-size-md: 900px;

@mixin screen-ty {
  @media only screen and (min-width: $screen-size-ty) {
    @content;
  }
}

@mixin screen-md {
  @media only screen and (min-width: $screen-size-md) {
    @content;
  }
}

.base {
  @include panel-shadow;
  padding: $panel-padding-mobile;
  border-radius: $panel-border-radius;
  background-color: #fff;
  margin-left: $panel-margin-mobile;
  margin-right: $panel-margin-mobile;
  width: calc(80% - #{$panel-margin-mobile});

  @include screen-ty {
    width: $panel-width-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @include screen-md {
    width: $panel-width-md;
    padding: $panel-padding;
    margin-left: 0;
    margin-right: 0;
  }
}

// scss-lint:disable PropertySpelling
:export {
  borderRadius: $panel-border-radius;
}
